
.container {
    margin-top: 50px;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    background-color: #f8f9fa;
    position: relative; 
}

.selected {
    background-color: #d1e7dd; 
}
.line {
    position: absolute;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 100%; 
    transform: translateY(-50%);
    transition: width 0.3s; 
    width: 0; 
}